
  
 <div id="header" role="banner">
    <div class="page_margins">
      <div class="page">
       
      </div>
    </div>
  </div>
 
 
 
 <div id="nav" role="navigation">
    <div class="page_margins">
      <div class="page">
        <div class="hlist">
          <!-- main navigation: #nav_main -->
         $pages.include("$apphome/theme/layouts/nav.html")
        </div>
      </div>
    </div>
  </div>

 

  <div id="main">
    <div class="page_margins">
      <div class="page">
       $pages.includeContent()
      </div>
    </div>
  </div>

  <div id="extended">
    <div class="page_margins">
      <div class="page">
      	OpenEdit Content Managemnt System
      </div>
    </div>
  </div>
  <!-- begin: #footer -->
  <div id="footer" role="contentinfo">
    <div class="page_margins">
      <div class="page">
     <p></p>
      </div>
    </div>
  </div>
<!-- full skiplink functionality in webkit browsers -->



