#set ( $origURL=$context.getRequestParameter( "origURL" ) )
#set ( $path = $context.getRequestParameter( "path" ) )
#if ( !$path )
	#set( $path = $content.path )
#end
#set( $path = $url_util.encode($path) )

<div id="oeadmintoolbarlocation" class="oeadmintoolbarlocation" style="position:absolute">
			
	#set( $id = $plugin.id )

<ul class="oeglossymenu">
	
	<li><a href="$home/openedit/views/filemanager/index.html" target="_parent"><img border="0" src="$home/openedit/theme/images/toolbar/filemanager.gif" title="[[filemanager]]"/> [[File Manager]]</a></li>
	
	#set( $mode = $user.get("oe.edit.mode") )
	#if( $mode && $mode == "debug")
		<li><a href="$home/openedit/views/workflow/mode/viewpreview.html?origURL=$origURL" ><img src="$home/openedit/theme/images/toolbar/modepreview.gif" border="0" title="Preview Mode" />Preview Mode</a></li>
	#else
		<li><a href="$home/openedit/views/workflow/mode/viewdebug.html?origURL=$origURL" ><img src="$home/openedit/theme/images/toolbar/modepreview.gif" border="0" title="Debug Mode" />Debug Mode</a></li>
	#end
		
</ul>
</div>
</div>
